body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
    background-color: antiquewhite;
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 10px;
}

nav a:hover{
    background-color: coral;
    color: white;
}